# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Temporary / OS files
.DS_Store
Thumbs.db
*.tmp
*.log

# IDE files
.vscode/
.idea/
